.toast-top-right {
  top: 70px; }

.toast-success {
  background-color: blue; }

.login-page {
  width: 360px;
  /*padding: 8% 0 0;*/
  margin: auto; }

.form {
  font-family: "Lato", sans-serif, sans-serif;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
  /* .register-form {
     display: none;
   }*/ }
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; }
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer; }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px; }
    .form .message a {
      color: #4CAF50;
      text-decoration: none; }

.form button:hover, .form button:active, .form button:focus {
  background: #43A047; }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto; }
  .container .info {
    margin: 50px auto;
    text-align: center; }
    .container .info h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a; }
    .container .info span {
      color: #4d4d4d;
      font-size: 12px; }
    .container .info span a {
      color: #000000;
      text-decoration: none; }
    .container .info span .fa {
      color: #EF3B3A; }

.container:before, .container:after {
  content: "";
  display: block;
  clear: both; }

#navbar {
  border: 2px solid black;
  height: 10vh; }

#menuLogin {
  margin-right: 30px; }

.mainTextArea {
  /*border: 3px solid blue;*/
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 15%;
  min-height: 165px; }
  .mainTextArea .text-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 150px;
    height: 150px;
    font-size: 4em;
    color: black;
    background: #ebebeb;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none; }
    .mainTextArea .text-box:hover {
      color: white;
      background: #c8c8c8;
      box-shadow: 0 0 0 5px #3d4752; }
      .mainTextArea .text-box:hover + label .pencil-icon {
        color: white; }
    .mainTextArea .text-box:focus {
      transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
      border: none;
      outline: none;
      box-shadow: none;
      width: 100%;
      border-radius: 0;
      background: #ebebeb;
      color: black; }
      .mainTextArea .text-box:focus + label .pencil-icon {
        display: none; }
  .mainTextArea label {
    width: 10px;
    height: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*z-index: -10;*/ }
  .mainTextArea .pencil-icon {
    /*border: 1px solid black;*/
    font-size: 3em;
    position: relative;
    display: table;
    margin: 0 auto;
    top: -20;
    right: 20;
    z-index: 1; }

body {
  background-color: white; }

/*# sourceMappingURL=main.css.map */
