<div>
	<form class="register-form" name="profileForm">
      <input type="text" placeholder="first name" ng-model="fname", required/>
      <input type="text" placeholder="last name" ng-model="lname", required/>
      <input type="text" placeholder="username" ng-model="username", required/>
      <input type="text" placeholder="email address" ng-model="email", required/>
      <input type="password" placeholder="password" ng-model="password"/ >
      <button ng-click="update()" ng-disabled="signupForm.$invalid">update</button>
      <a class="btn btn-default" href='/' >cancel</a>
    </form>
</div>