doctype
html
	head
		title uPick v2.2
		base(href="/")
		link(rel='stylesheet', href="vendor/toastr/toastr.css")
		link(rel='stylesheet', href="vendor/boostrap/dist/css/boostrap.css")
		
	body(ng-app ="uPick")
		block main-content
		include scripts