script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDUqQVXE3zxqTq41hXpN10eZypvYy5VBTA&libraries=places,geometry')
script(src='./vendor/jquery/dist/jquery.min.js')
script(src='./vendor/angular/angular.min.js')
script(src='./vendor/angular-route/angular-route.min.js')
script(src='./vendor/angular-resource/angular-resource.min.js')
script(src='./vendor/angularjs-geolocation/dist/angularjs-geolocation.min.js')
script(src='./vendor/bootstrap/dist/js/bootstrap.js')
script( src='./app/app.js')